/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    margin: 0;
    /* background-color: #2A2C39; */
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 200;
    font-size: 17px;
}

#main-cont {
    display: flex;
}

#map-holder {
    width: 100vw;
    height: 100vh;
}

svg rect {
    /* fill: #2A2C39; */
    /* map background colour */
}

.country {
    fill: rgb(241, 241, 242);
    /* country colour */
    stroke: #2A2C39;
    /* country border colour */
    stroke-width: 0.5;
    /* country border width */
}

.country-on {
    fill: #4B5358;
    /* highlight colour for selected country */
}

.countryLabel {
    display: none;
    /* hide all country labels by default */
}

.countryName {
    fill: #00000090;
    /* country label text colour */
}

.countryLabelBg {
    fill: #30BCED00;
    /* country label background colour */
}

#compare-container {
    position: absolute;
    top: 35px;
    left: 15px; 
}
#compare-container>div{
    padding: 5px;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #000000;
}
#compare-container>div>p {
    margin: 0;
}

#compare-mode {
    left: 15px;
    top: 0;
    position: absolute;
    padding: 1px 5px;
    font-weight: 500;
    font-size: 0.9em;
    border-radius: 0 0 7px 7px;
    background-color: #546e7aad;
    color:#ffffff;
}

.tagContainer {
    position: absolute;
    left: 50px;
    bottom: 50px;
}

.tagContainer>div {
    /* background-color: white; */
    padding: 5px 10px;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background-color: white;
}

.tagContainer>div>p {
    color: #222222;

}

.tag-go {
    border-radius: 10px !important;
}

.turq {
    box-shadow: 0px 5px 0px 0px #fade98;
}

.eme {
    box-shadow: 0px 5px 0px 0px #5f6c11;
}

.ptr {
    box-shadow: 0px 5px 0px 0px #fbc11a;
}

.sfa {
    box-shadow: 0px 5px 0px 0px #ec7ead;
}

.car {
    box-shadow: 0px 5px 0px 0px #274b69;
}

.brp {
    box-shadow: 0px 5px 0px 0px #463a3a;
}

.tagContainer>div>p {
    margin: 0;

}

.tagDisabled {
    background-color: #b2bec3 !important;
}

.tagDisabled>p {
    color: #636e72 !important;

}


.dimmer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000090;
    z-index: 10;
}

.overlay {
    /* width: 600px;  */
    height: 100vh;
    z-index: 10;
    /* right: 0; */
    /* background-color: #f5f5f5d5; */
    /*background-color: rgba(0, 0, 0, 0.1);;*/
}

.svg-content-responsive {
    width:100%;
    transition: .5s ease-in;
}

#close-city {
    position: absolute;
    z-index: 15;
    right: 0;
    color: black;
    /*text-shadow:0 0 3px #FF0000;*/
    height: 30px;
    width: 30px;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    cursor: pointer;
}


.modalStart {
    /* height: 65vh; */
    width: 65vw;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    /* display: flex;
justify-content: center;
align-items: center;
flex-direction: column; */
}

.modalStart h2 {
    color: #00000090;
    text-align: center;
}

.prefCon {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.centerAbs {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.prefCon>div {
    margin: 8px;
    height: 200px;
    width: 350px;
    border-radius: 5px;
}

.prefCon>div>div {
    height: 100%;
    width: 100%;
    background-color: #00000030;
    border-radius: 5px;
    background-image:
        linear-gradient(to top,
            #00000090,
            #00000030 20%);
    position: relative;
    cursor: pointer;
}

.prefCon>div>div:hover {
    background-color: #00000050;
}

.prefCon>div>div>p {
    margin: 0;
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #ffffff;
    font-weight: 500;
}

.picked {
    background-color: #000000a6 !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.tileCent {
    background-position: center !important;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover !important;
}

.img1 {
    background-size: cover !important;
    background: url(https://images.unsplash.com/photo-1447752875215-b2761acb3c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)
}

.img2 {
    background: url(https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1413&q=80)
}

.img3 {
    background: url(https://images.unsplash.com/photo-1538013532668-5ccc57ce83eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)
}

.img4 {
    background: url(https://images.unsplash.com/photo-1487958449943-2429e8be8625?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)
}

.img5 {
    background: url(https://images.unsplash.com/photo-1439066290691-510066268af5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1266&q=80)
}

.img6 {
    background: url(https://images.unsplash.com/photo-1468877294001-94aef5ebfa1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)
}

.prefNext {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 22px;
    font-weight: 300;
    text-decoration: none;
    /* margin: 20px; */
    color: #fff;
    position: relative;
    display: inline-block;
    /* width: 80%; */
    margin: 10px 0 30px 0;
    cursor: pointer;
}

.btn-disabled {
    background-color: #bdbdbd !important;
    color: #8d8d8d !important;
    box-shadow: none !important;
}

.blue {
    background-color: #1e3799;
    border: none;
    box-shadow: 0px 5px 0px 0px #4a69bd;
}

.chart-gauge {
    width: 400px;
    margin: 100px auto
}

.chart-filled {
    fill: steelblue;
}

.chart-empty {
    fill: #dedede;
}

.needle,
.needle-center {
    fill: #464A4F;
}

.numberPicked {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    left: 10px;
    top: 10px;
    position: absolute;
    border: 2px solid white;
    color: white;
    text-align: center;
    display: none;
}

.image-pop {
    background: white;
}

#one-city-views {
    overflow: hidden !important;
    transition: width 0.1s ease-in;
    position: relative;
}

#image-gallery > li > div {
    width: 300px;
    height: 200px;
    background-position: center;
    background-size: cover;
}

#image-gallery > li {
    width: 500px !important ;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div-img-pop-layer {
    width: 100%;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    height: 40px;
    background-color: #000000c9;
    opacity: 0.3;
    border-radius: 0 0 15px 15px;
    position: absolute;
    z-index: 1;
}

#div-img-pop-p {
    width: 100%;
    color: white;
    margin: 0;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    z-index: 2;
}

.loading-overlay {
    /* background: #f5f5f5; */
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0;
	animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: 1s;
}

@keyframes fadeOutOpacity {
	0% {
        z-index: 99;
		opacity: 1;
    }
    25% {
		opacity: .75;
    }
	50% {
		opacity: .5;
    }
    75% {
		opacity: .25;
    }
    100% {
        z-index: -1;
        opacity: 0;
    }
}

.city-info-header {
    height: 70px;
    justify-content: flex-start;
    align-items: center;
    padding:20px;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

#comparison-overlay {
    position: absolute;
    width: 100vw;
    height: 0;
    top: 100%;
    left: 0;
    border-radius: 15px 15px 0 0;
    transition: .3s ease;
    background-color: #f5f5f5ea;
    color: #484848;
}

#comparison-choose-tooltip {
    background-color: #546e7aad;
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50%;
    transition: .3s ease;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comchoose-title>p {
    font-weight: 600;
}

#comchoose-tags {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

#comchoose-tags>p{
    margin: 5px;
    padding: 5px 10px;
    background: white;
    color: #000000;
    border-radius: 5px;
}

#comparison-choice {
    padding: 10px;
    margin: 0;
    font-weight: 600;
}

.comp-container {
    padding: 20px 10px;
    width: 100%;
    height: 100%;
}

.comp-country-sec {
    display: flex;
    flex-direction: row;
}

.comp-country-item {
    width: 33%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.seperator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

}

.seperator>div {
    height: 70%;
    width: 3px;
    background-color: #464646c0;
    border-radius: 5px;
}

.center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comp-city-title {
    font-size: 1.3em;
    font-weight: 600;
    /* color: #484848; */
}
.comp-country-title {
    font-size: 1.1em;
    font-weight: 500;
    /* color: #484848; */
    margin: 0;
}

.comp-photos-container {
    position: relative;
    width: 100%;
    height: 250px;
    margin-top: 20px;
}

.comp-photo {
    height: 250px;
    width: 350px;
    background-position: center;
    background-size: cover;
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;

}

.comp-container {
    position: relative;
    overflow: hidden !important;
}

#index-tooltip {
    position: absolute;
    bottom: 0;
    right: 40px;
    z-index: 100;
    background-color: #ffffffa2;
    color: #484848;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    transition: .2s ease;
    height: 35px;
}
.index-show > p{
    margin:0;
    padding: 5px;
}
.index-show {
    height: 35px;
    transition: .1s ease;
}

.index-show:hover .index-show{
    height: 45px;
}

#index-hidden {
    height: 0;
    transition: .1s ease;
    display: none;
}

#gauge-comparison {
    width: 750px;
    height:500px;
}

#index-hidden>p{
    margin: 0;
    padding: 4px 8px;
}

.comparison-charts {
    width: 750px;
    height:500px;
}
/*
#photos {
   /* Prevent vertical gaps
   line-height: 0;
   
   -webkit-column-count: 5;
   -webkit-column-gap:   0px;
   -moz-column-count:    5;
   -moz-column-gap:      0px;
   column-count:         5;
   column-gap:           0px;
}
#photos img {
  /* Just in case there are inline attributes
  width: 100% !important;
  height: auto !important;
}

@media (max-width: 1800px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

body {
  margin: 0;
  padding: 0;
}
*/
