/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body {
    margin: 0;
    /* background-color: #2A2C39; */
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 200;
    font-size: 17px;
}

#map-holder {
    width: 100vw;
    height: 100vh;
}

svg rect {
    /* fill: #2A2C39; */
    /* map background colour */
}

.country {
    fill: rgb(241, 241, 242);
    /* country colour */
    stroke: #2A2C39;
    /* country border colour */
    stroke-width: 0.5;
    /* country border width */
}

.country-on {
    fill: #4B5358;
    /* highlight colour for selected country */
}

.countryLabel {
    display: none;
    /* hide all country labels by default */
}

.countryName {
    fill: #00000090;
    /* country label text colour */
}

.countryLabelBg {
    fill: #30BCED00;
    /* country label background colour */
}

.tagContainer {
    position: absolute;
    left: 50px;
    bottom: 50px;
}

.tagContainer>div {
    /* background-color: white; */
    padding: 5px 10px;
    margin-bottom: 15px;
    cursor: pointer;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background-color: white;
}

.tagContainer>div>p {
    color: #222222;

}

.tag-go {
    border-radius: 10px !important;
}

.turq {
    box-shadow: 0px 5px 0px 0px #1abc9c;
}

.eme {
    box-shadow: 0px 5px 0px 0px #d35400;
}

.ptr {
    box-shadow: 0px 5px 0px 0px #3498db;
}

.sfa {
    box-shadow: 0px 5px 0px 0px #f1c40f;
}

.car {
    box-shadow: 0px 5px 0px 0px #e67e22;
}

.brp {
    box-shadow: 0px 5px 0px 0px #2980b9;
}

.tagContainer>div>p {
    margin: 0;

}

.tagDisabled {
    background-color: #b2bec3 !important;
}

.tagDisabled>p {
    color: #636e72 !important;

}


.dimmer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #00000090;
    z-index: 10;
}

.overlay {
    position: absolute;
    width: 40%;
    height: 100%;
    z-index: 10;
    right: 0;
    background-color: #f3f3f3;
}

#close-city {
    position: absolute;
    z-index: 15;
    right: 0;
    color: black;
    height: 30px;
    width: 30px;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    cursor: pointer;
}


.modalStart {
    /* height: 65vh; */
    width: 65vw;
    background: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    /* display: flex;
justify-content: center;
align-items: center;
flex-direction: column; */
}

.modalStart h2 {
    color: #00000090;
    text-align: center;
}

.prefCon {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.centerAbs {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.prefCon>div {
    margin: 8px;
    height: 200px;
    width: 350px;
    border-radius: 5px;
}

.prefCon>div>div {
    height: 100%;
    width: 100%;
    background-color: #00000030;
    border-radius: 5px;
    background-image:
        linear-gradient(to top,
            #00000090,
            #00000030 20%);
    position: relative;
    cursor: pointer;
}

.prefCon>div>div:hover {
    background-color: #00000050;
}

.prefCon>div>div>p {
    margin: 0;
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #ffffff;
    font-weight: 500;
}

.picked {
    background-color: #000000a6 !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.tileCent {
    background-position: center !important;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover !important;
}

.img1 {
    background-size: cover !important;
    background: url(https://images.unsplash.com/photo-1447752875215-b2761acb3c5d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)
}

.img2 {
    background: url(https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1413&q=80)
}

.img3 {
    background: url(https://images.unsplash.com/photo-1538013532668-5ccc57ce83eb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)
}

.img4 {
    background: url(https://images.unsplash.com/photo-1487958449943-2429e8be8625?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)
}

.img5 {
    background: url(https://images.unsplash.com/photo-1439066290691-510066268af5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1266&q=80)
}

.img6 {
    background: url(https://images.unsplash.com/photo-1468877294001-94aef5ebfa1e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)
}

.prefNext {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 22px;
    font-weight: 300;
    text-decoration: none;
    /* margin: 20px; */
    color: #fff;
    position: relative;
    display: inline-block;
    /* width: 80%; */
    margin: 10px 0 30px 0;
    cursor: pointer;
}

.btn-disabled {
    background-color: #bdbdbd !important;
    color: #8d8d8d !important;
    box-shadow: none !important;
}

.blue {
    background-color: #1e3799;
    border: none;
    box-shadow: 0px 5px 0px 0px #4a69bd;
}

.chart-gauge {
    width: 400px;
    margin: 100px auto
}

.chart-filled {
    fill: steelblue;
}

.chart-empty {
    fill: #dedede;
}

.needle,
.needle-center {
    fill: #464A4F;
}

.numberPicked {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    left: 10px;
    top: 10px;
    position: absolute;
    border: 2px solid white;
    color: white;
    text-align: center;
    display: none;
}

.image-pop {
    background: white;
}



@media screen and (max-width: 1800px) {
    /* .modalStart {
    height: 90vh;
} */
}