<link rel="stylesheet"  href="../static/css/lightslider.css"/>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="../static/js/lightslider.js"></script>

<style>
    ul{
        list-style: none outside none;
        padding-left: 0;
        margin: 0;
    }
    .imgrid .item{
        margin-bottom: 0;
    }
    .imgrid{
        width: 90%;
        margin-left: 50px;
        /* margin-top: 0px; */
    }
</style>

<script>
    $(document).ready(function() {
       $("#content-slider").lightSlider({
           loop:true,
           keyPress:true
       });
       $('#image-gallery').lightSlider({
           gallery:true,
           item:1,
           thumbItem:9,
           slideMargin: 0,
           speed:500,
           auto:true,
           loop:true,
           onSliderLoad: function() {
               $('#image-gallery').removeClass('cS-hidden');
           }
       });
   });
</script>

<div id="loading-overlay" class="loading-overlay">
</div>
<div id="close-city">x</div>
<div class="city-info-header flex">
    <p style="margin:0">
        <span style="font-size: 1.5em; margin:0;">{{data.city}}, </span>
        <span style="font-size: 1.5em; margin:0;">{{data.country}}</span>
    </p>
</div>
<div style="margin-top: 10px;">
    <div class="imgrid">
        <div class="item">
            <div class="clearfix" style="width: 500px;">
                <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                </ul>
            </div>
        </div>
    </div>
</div>
        
<!-- <div style="margin-left: 50px;"> -->

</div>
</div>
<div id="safety_gauge" style="width: 500px;height:300px; margin: 20px;" ></div>
<div id="summary" style="width: 500px;height:300px;" ></div>


<!--<div style=" height: 400px; overflow: scroll;">-->
<!--    <section id="photos"></section>-->
<!--</div>-->


<meta id="city" data-data="{{data}}" data-raw="{{raw}}">
<script>

    $(() => {
        let cityData = $('#city').data().raw
        console.log("city info", cityData)
        console.log("header image", "url(" +data.description[0].cdn_url+ ")")
        // $(".city-info-header").css("background-image", "url(" +data.description[0].cdn_url+ ")")
    })

    $("#close-city").click(() => {
        console.log("close")
        $(".overlay").css("width", "0")
        svg
        .attr("width", "100%")
        initiateZoom();
        $("#image-gallery").empty()
        $("#one-city-views").empty()
        cityOpened = false
    })
</script>
<!-- Create a div where the graph will take place -->

<script type="text/javascript">
    var data=JSON.parse('{{data|tojson|safe}}');

    // EXAMPLE OF SINGLE GUAGE
    var safetyChart = echarts.init(document.getElementById('safety_gauge'));

    // console.log("Well this is it");
    // console.log(data);
    var crime_years = Object.keys(data.crime);
    console.log(crime_years);
    var latest_year = crime_years[crime_years.length - 1];
    // console.log(latest_year);
    var safety_index = data.crime[latest_year].safety_index;
    // console.log(safety_index);

    var summary_list = [data.traffic["2019"].traffic_index, data.pollution["2019"].pollution_index, 
data.cost["2019"].cost_living_index, data.cost["2019"].groceries_index, 
data.cost["2019"].restaurant_price_index];

    var option = {
        
        tooltip: {
            formatter: '{a} : {c}%'
        },
        toolbox: {
            feature: {
            }
        },
        series: [
            {
                name: latest_year,
                type: 'gauge',
                detail: {formatter: '{value}%', fontSize: 20, offsetCenter: [0, '20%']},
                pointer: {
                                width:5
                            },
                title: {
                    // text: 'Safety Coefficient ' + latest_year,
                    textStyle: { // Test compat
                                    fontWeight: 'bolder',
                                    fontSize: 18,
                                },
                    // fontStyle: 'verdana',            
                    offsetCenter: ['-125%', '-110%'],
                },
                splitLine: {           // 分隔线
                                length :20,         // 属性length控制线长
                                lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                                    color: 'auto'
                                }
                            },
                axisLine: {            // 坐标轴线
                         lineStyle: {       // 属性lineStyle控制线条样式
                            width: 12,
                             color: [[0.2, '#c23531'], [0.8, '#63869e'], [1, '#91c7ae']]
                                    }
                                },
                data: [{value: safety_index, name: 'Safety Coefficient '}]
            }
        ]
    };

    safetyChart.setOption(option, true);
    // window.onresize = safetyChart.resize;

    var summaryChart = echarts.init(document.getElementById('summary'));
        //show the safety coefficient for the chosen city
        // Specifying configuration items and data for the chart
          var option = {
            title: {
                text: 'City Statistics',
                left: 50
            },
            tooltip: {},
            // legend: {
            //     data: ['Summary']
            // },
            radar: {
                // shape: 'circle',
                name: {
                    textStyle: {
                        color: '#fff',
                        backgroundColor: '#999',
                        borderRadius: 3,
                        padding: [3, 5],
                    }
                },
                indicator: [
                    { name: 'Traffic', max:350},
                    { name: 'Pollution', max:120},
                    { name: 'Cost Of Living', max:150},
                    { name: 'Groceries Index', max:150},
                    { name: 'Restaurant Price Index', max:150},
                ]
            },
            series: [{
                type: 'radar',
                // areaStyle: {normal: {}},
                
                data: [
                    {
                        value: summary_list,
                        name: 'Summary',
                        
                    }
                    
                ]
            }]
        };
        summaryChart.setOption(option, true);
        // window.onresize = summaryChart.resize;


    var allImages = "";

    for (var i = 0; i < Object.keys(data.description).length; i++) {
        var cdn_url = data.description[i].cdn_url
        allImages += "<li data-thumb=" + cdn_url+"><div style='background-image: url("+ cdn_url + ")' ></div></li>";
    }

    document.getElementById('image-gallery').innerHTML = allImages;
</script>
