<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Pref</title>
    <link href="../static/css/user_pref.css" rel="stylesheet" type="text/css">
    <link href="../static/css/styles.css" rel="stylesheet" type="text/css">
    {{ JSGlue.include() }}
</head>
<body>
    <div class="pref-container">
        <div class="pref-bg">
        </div>
        <div class="bg-blur"></div>
        <div class="pref-title">
            <p>Destination Recommender</p>
        </div>
        <div class="pref-content">
            <h2>What attraction do you prefer?</h2>
            <div class="prefCon">
                <div id="city" class="img2 tileCent"><div><p>City</p><div class="numberPicked"></div></div></div>
                <div id="nature" class="img1 tileCent"><div><p>Nature</p><div class="numberPicked"></div></div></div>
                <div id="beach" class="img3 tileCent"><div><p>Beach</p><div class="numberPicked"></div></div></div>
                <div id="architecture" class="img4 tileCent"><div><p>Architecture</p><div class="numberPicked"></div></div></div>
                <div id="lake" class="img5 tileCent"><div><p>Lake</p><div class="numberPicked"></div></div></div>
                <div id="mountains" class="img6 tileCent"><div><p>Mountain</p><div class="numberPicked"></div></div></div>
            </div>
            <div class="prefNext">
                <button id="next" class="btn blue btn-disabled" onclick="next()">Pick an attraction</button>
            </div>
            <!-- <form action="{{ url_for('user_pref') }}" method="post">
                <label>Choose your interests of travel:</label>
                <select id="pref" name="pref" size="6">
                    <option value="nightlife">Nightlife</option>
                    <option value="nature">Nature</option>
                    <option value="beach">Beach</option>
                    <option value="museum">Museum</option>
                    <option value="wildlife">Wildlife</option>
                    <option value="landscape">Landscape</option>
                </select><br><br>
                <input type="submit" value="Submit">
            </form> -->
        </div>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script>
        
        var picked = []
        $(".tileCent").on('click', (event) => {
            checkPicked(event.currentTarget.id)

            if (picked.length > 0) {
                $("#next").removeClass('btn-disabled')
                $("#next").html('Find Destinations');
            } else {
                $("#next").addClass('btn-disabled')
                $("#next").html('Pick an attraction');
            }
        })

        function checkPicked(val) {

            if (picked.includes(val)) {
                let idx = picked.indexOf(val)
                picked.splice(idx, 1)
                remove(val)
            } else if (picked.length < 3) {
                picked.push(val)
                add(val)
            } else {
                remove(picked[0])
                picked.splice(0, 1)
                picked.push(val)
                add(val)
            }

            $('.tileCent').each(function (el) {
                // console.log($(this)[0].id)
                if (picked.includes($(this)[0].id)) {
                    $("#" + $(this)[0].id).children('div').children('div').text(picked.indexOf($(this)[0].id) + 1)
                }
            });
        }

        function remove(id) {
            $("#" + id).children('div').removeClass('picked')
            $("#" + id).children('div').children('div').css('display', 'none')
        }
        
        function add(id) {
            $("#" + id).children('div').addClass('picked')
            $("#" + id).children('div').children('div').css('display', 'flex')
        }

        function next() {
            if (picked !== []) {
                // $.post(Flask.url_for('user_pref', {}));
                location.href = Flask.url_for('user_pref', {pref: picked});
            }
        }


    </script>

</body>
</html>